<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Privacy Policy</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <strong>Contact the Developer of Allora</strong> 
    <p>
    If you have any inquiries, questions or concerns you can contact the developer of Allora at: <a href="mailto:allora.developer@outlook.com">allora.developer@outlook.com</a>.
    </p>
    </body>
    </html>
      